*, *::before, *::after {
  box-sizing: border-box 
}
footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem,16rem));
  background-color: #343237;
  margin: auto;
  color: $txt_color;
  justify-content: center;
  gap:1rem
}

.footer_txt_img {
  margin-top: 2rem;
  grid-column: 2/6;
  grid-row: 1/1;
  display: flex;
  justify-content: space-evenly;
}

.footer_img { //en cours d'ajustement
  grid-row: 3/6;
  min-width: 10rem;
  max-width: 25rem;
  block-size: auto;
  justify-content: flex-end;
}

.footer_sponsor {
  grid-column: 2/8;
  grid-row: 2/2;
  border-radius: 1rem;
}

.footer_sponsor ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  filter: brightness(0) invert(1);
}
f
.footer_follow_us {
  grid-column: 2/2;
  grid-row: 3/3;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(248, 244, 238);
  border-radius: 1rem;
}

.footer_helpdesk {
  grid-column: 3/4;
  //grid-row: 3/3;
  display: flex;
  align-items: center;
}

.footer_copyright {
  grid-column: 2/2;
  //grid-row: 3/3;
}

footer h3{
  color: rgb(51, 182, 178);
  margin-top: 0.2rem;
}

footer span {
  font-weight: bold;
}

footer li i {
  font-family: 'codeconf';
  font-size: 2rem;
  font-style: normal;
}