
form {
  font-family: 'leaguespartan';
}
.speaker_form {
    margin: 0 auto;
    max-width: 50rem;
    display: grid;
    grid-template-columns: minmax(15rem, 1fr);
    gap: 3rem;
    padding: 2rem;
    justify-content: center;
    border: 1px solid rgb(5, 153, 158);
  }

form h2{
  font-family:'maven_Pro';
  color:#644FE8;
  text-transform: uppercase;
  display: grid;
  justify-content: center;

}
.form_txt {
  display: grid;
  justify-content: center;
  margin: auto;
}
.form_input {
  display: grid;
  justify-content: center;
  max-width: 40rem;
}

.btn_form {
  font-family: 'maven_Pro';
  font-size: 1rem;
  padding: 0.7rem;
  border: 2px solid $orange_color;
  color: $orange_color;
  border-radius: 1rem;
  text-decoration-style: none;
  background-color: white;
}

.btn_ticket {
  font-family: 'maven_Pro';
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  text-decoration-style: none;
  background-color: $orange_color;
  padding: 0.7rem;
}
