header {
  background: red;
  display: flex;
}

ul li {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: rgb(39, 39, 39);
}

.logo-codeconf {
  display: inline-flex;

}